<%- include('../partials/header')%>

<article
  class="bg-[url('../images/bg-gradient-4.svg')] bg-cover bg-norepeat bg-indigo-950 w-full h-full"
>
  <section class="py-30">
    <div class="container px-5 mx-auto max-w-7xl">
      <div class="title flex items-center justify-between mb-10">
        <span class="border-b-1 border-white w-full"></span>
        <h2 class="text-4xl text-white font-extrabold w-200 text-center"
          >Categories</h2>
        <span class="border-b-1 border-white w-full"></span>
      </div>

      <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-5">
    
          <a href="/allBlogs?category=Culture" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/culture-category.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Culture</p>
                    <p class="text-lg font-medium text-gray-500">Explore the World</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Music" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/music-category.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Music</p>
                    <p class="text-lg font-medium text-gray-500">Food for the Soul</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Nature" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/nature-category.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Nature</p>
                    <p class="text-lg font-medium text-gray-500">Breathtaking Beauty</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Technology" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/technology-category.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Technology</p>
                    <p class="text-lg font-medium text-gray-500">Discover the future</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Business" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/business-image.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Business</p>
                    <p class="text-lg font-medium text-gray-500">Strategies & Growth</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Sustainability" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/sustianability-image.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Sustainablity</p>
                    <p class="text-lg font-medium text-gray-500">Protecting Tomorrow</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Entertainment" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/entertainment-image.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Entertainment</p>
                    <p class="text-lg font-medium text-gray-500">Movies, Music & More</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=LifeStyle" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/lifestyle-image.avif')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">LifeStyle</p>
                    <p class="text-lg font-medium text-gray-500">Everyday Inspiration</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Sport" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/sport-image.avif')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Sport</p>
                    <p class="text-lg font-medium text-gray-500">Scores & Stories</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Productivity and Self-Development" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/selfdevelopment-and-productivity.png')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Productivity and Self-Development</p>
                    <p class="text-lg font-medium text-gray-500">Level Up Your Life</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Health and Fitness" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/health-and-fitness.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Health and Fitness</p>
                    <p class="text-lg font-medium text-gray-500">Stronger Every Day</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Gaming" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/gaming-image.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Gaming</p>
                    <p class="text-lg font-medium text-gray-500">Conquer. Repeat.</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=News and Politics" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/news-image.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">News and Politics</p>
                    <p class="text-lg font-medium text-gray-500">Stay Informed, Stay Ahead</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Food and Cooking" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/food-and-cooking.jpg')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Food and Cooking</p>
                    <p class="text-lg font-medium text-gray-500">Taste the Creativity</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Travel" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/travel.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Travel</p>
                    <p class="text-lg font-medium text-gray-500">Explore Beyond Borders</p>
                  </div>
              </div>
            </div>
          </a>
          <a href="/allBlogs?category=Personal Blog" class="category-item h-50 overflow-hidden rounded-4xl">
            <div class="card bg-[url('../images/personal-image.webp')] hover:scale-102 duration-300 transition-all bg-cover bg-center w-full h-full">
              <div class="w-full h-full flex items-end bg-gradient-to-t from-black to-transparent">
                  <div class="content p-5 mx-auto text-center">
                    <p class="text-2xl font-medium text-white">Personal Blog</p>
                    <p class="text-lg font-medium text-gray-500">Your Voice, Your Story</p>
                  </div>
              </div>
            </div>
          </a>
        </div>

    </div>
  </section>
</article>

<%- include('../partials/footer')%>
